<form class="edit-form" [formGroup]="contractorForm">
  <div class="hdr">
    <div class="title">
      <div *ngIf="isEditMode">Редактирование подрядчика</div>
      <div *ngIf="!isEditMode">Новый подрядчик</div>
      <div class="req-fields">Обязательные поля: <span class="req">•</span></div>
    </div>
    <div class="fn">
      <span class="btn v save" (click)="save()"><span>сохранить</span></span>
      <span class="btn v del" *ngIf="isEditMode" (click)="remove()"><span>Удалить</span></span>
      <span class="btn v cancel" (click)="goBack()"><span>отмена</span></span>
    </div>
  </div>

  <div class="form-block">
    <div class="form-row">
      <div class="form-data">
        <label>
          <input type="checkbox" formControlName="exclude_from_trade">
          <i> </i>
          <span>Исключить Подрядчика из торгов</span>
        </label>
      </div>
    </div>
    <div class="form-row">
      <input type="hidden" formControlName="id">
      <div class="form-item-layout">
        <div class="form-item">
          <div class="form-label">Наименование подрядчика: <span class="req">•</span></div>
          <div class="form-data"><input type="text" name="name" formControlName="name" placeholder="—"></div>
        </div>
        <div class="form-item">
          <div class="form-label">Идентификатор (ИНН, Rec № и пр.):</div>
          <div class="form-data"><input type="text" name="ind" formControlName="ind" placeholder="—"></div>
        </div>
        <!-- <div class="form-item"> -->
          <!-- <div class="form-label">Страна нахождения: <span class="req">•</span></div> -->
          <!-- <div class="form-data"> -->
            <mat-form-field appearance="outline" class="ui-select form-item">
              <mat-label class="form-label">страна нахождения</mat-label>
              <mat-select formControlName="country_id" (valueChange)="onCountryChange($event)">
                <mat-option *ngFor="let country of countries;" [value]="country.id">{{ country.name }}</mat-option>
              </mat-select>
              <mat-error *ngIf="contractorForm.controls['country_id'].hasError('required')">
                Это поле обязательно
              </mat-error>
            </mat-form-field>
          <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="form-item">
          <div class="form-label">город: <span class="req">•</span></div>
          <div class="form-data"><input type="text" name="city_name" formControlName="city_name" placeholder="—"></div>
        </div> -->
        <mat-form-field appearance="outline" class="ui-select form-item">
          <mat-label class="form-label">город</mat-label>
          <mat-select formControlName="city_id">
            <mat-option *ngFor="let city of cities;" [value]="city.id">{{ city.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="contractorForm.controls['city_id'].hasError('required')">
            Это поле обязательно
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-item-layout">
        <div class="form-item w50">
          <div class="form-label">адрес:</div>
          <div class="form-data"><input type="text" name="address" formControlName="address" placeholder="—"></div>
        </div>
        <div class="form-item">
          <div class="form-label">общий телефон:</div>
          <div class="form-data"><input type="text" name="phone" formControlName="phone" placeholder="—"></div>
        </div>
        <div class="form-item">
          <div class="form-label">сайт компании:</div>
          <div class="form-data"><input type="text" name="web" formControlName="web" placeholder="—"></div>

        </div>
      </div>

      <div class="form-item-layout">
        <!-- <div class="form-item"> -->
          <!-- <div class="form-label">язык общения: <span class="req">•</span></div> -->
          <!-- <div class="form-data"> -->
            <mat-form-field appearance="outline" class="ui-select form-item">
              <mat-label class="form-label">язык общения</mat-label>
              <mat-select formControlName="language_id">
                <mat-option value="en">Английский</mat-option>
                <mat-option value="ru">Русский</mat-option>
              </mat-select>
              <mat-error *ngIf="contractorForm.controls['language_id'].hasError('required')">
                Это поле обязательно
              </mat-error>
            </mat-form-field>
          <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="form-item"> -->
          <!-- <div class="form-label">вид подрядчика: <span class="req">•</span></div> -->
          <!-- <div class="form-data"> -->
            <mat-form-field appearance="outline" class="ui-select form-item">
              <mat-label class="form-label">вид подрядчика</mat-label>
              <mat-select formControlName="type_id">
                <mat-option *ngFor="let type of contractorTypes; let i=index" [value]="i+1">{{ type.name }}</mat-option>
              </mat-select>
              <mat-error *ngIf="contractorForm.controls['type_id'].hasError('required')">
                Это поле обязательно
              </mat-error>
            </mat-form-field>
          <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="form-item"> -->
          <!-- <div class="form-label">членство в ассоциациях:</div> -->
          <!-- <div class="form-data"> -->
            <mat-form-field appearance="outline" class="ui-select form-item">
              <mat-label class="form-label">членство в ассоциациях</mat-label>
              <mat-select formControlName="association_id" multiple>
                <mat-select-trigger>
                  {{ assocAsText }}
                </mat-select-trigger>
                <mat-option *ngFor="let assoc of associations" [value]="assoc.id">{{assoc.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="form-item"> -->
          <!-- <div class="form-label">система налогообложения: <span class="req">•</span></div> -->
          <!-- <div class="form-data"> -->
            <mat-form-field appearance="outline" class="ui-select form-item">
              <mat-label class="form-label">система налогообложения</mat-label>
              <mat-select formControlName="tax_id">
                <mat-option [value]="1">ОСНО - общая система налогообложения</mat-option>
                <mat-option [value]="2">УСН – упрощённая система налогообложения</mat-option>
                <mat-option [value]="3">ЕСХН – единый сельскохозяйственный налог</mat-option>
                <mat-option [value]="4">Патентная система налогообложения</mat-option>
                <mat-option [value]="5">АУСН - новый вариант упрощённой системы без уплаты страховых взносов</mat-option>
              </mat-select>
              <mat-error *ngIf="contractorForm.controls['tax_id'].hasError('required')">
                Это поле обязательно
              </mat-error>
            </mat-form-field>
          <!-- </div> -->
        </div>
      <!-- </div> -->

    </div>
    <div class="form-row sep">
      Формат отправки запроса: <span class="req">•</span>
      <label *ngFor="let format of requestFormats">
        <input type="radio" formControlName="request_format_id" [value]="format.id">
        <i></i>
        <span>{{ format.name }}</span>
      </label>
    </div>
  </div>


  <div class="form-block-title">Рейтинг</div>
  <div class="form-block">

    <div class="form-row-sm">
      <div class="title">Рейтинг в системе:</div>
      <app-rating name="rating_nps" formControlName="rating_nps"></app-rating>
      <div class="link">
        <a href="#">Подробнее</a>
      </div>
    </div>
    <div class="form-row-sm">
      <div class="title">Моя оценка подрядчика:</div>
      <app-rating name="user_rating_nps" formControlName="user_rating_nps"></app-rating>
      <div class="link">
        <a href="#">Подробнее</a>
      </div>
    </div>
    <div class="form-row-sm">
      <div class="title">Отзывы по работе с подрядчиком:</div>
      <div class="data flags">
        <span class="plus">{{ contractor.review_positive_count }}</span>
        <span class="minus">{{ contractor.review_negative_count }}</span>
        <span class="neutral">{{ contractor.review_neutral_count }}</span>
      </div>
      <div class="link"><a href="#">Подробнее</a></div>
    </div>
    <div class="form-row-sm">
      <div class="title">Всего выполнено перевозок:</div>
      <div class="data">80</div>
      <div class="link"><a href="#">Подробнее</a></div>
    </div>
    <div class="form-row-sm">
      <div class="title"> % выигранных торгов:</div>
      <div class="data flags">
        <span class="win">{{contractor.trade_success_count}}</span>
        <span class="fail">{{contractor.trade_fail_count}}</span>
      </div>
      <div class="link"><a href="#">Подробнее</a></div>
    </div>
  </div>


  <div formArrayName="contacts">
  <div class="user-item" *ngFor="let contact of contacts.controls; let i=index">
    <div class="form-block-title">Контактное лицо №{{i + 1}}<span class="btn v del" (click)="removeContact(i)">Удалить</span></div>
    <app-contact-editor [formControlName]="i"></app-contact-editor>
  </div>

  <div class="user-item">
    <div class="form-block-title">Контактное лицо №{{contacts.length + 1}}<span class="btn v add" (click)=addContact()>Добавить</span></div>
  </div>
  </div>

  <div class="hdr ftr">
    <div class="title">
    </div>
    <div class="fn">
      <span class="btn v save" (click)="save()"><span>сохранить</span></span>
      <span class="btn v del" *ngIf="isEditMode" (click)="remove()"><span>Удалить</span></span>
      <span class="btn v cancel" (click)="goBack()"><span>отмена</span></span>
    </div>
  </div>

</form>

<pre>
  {{ contractorForm.value | json }}
</pre>
