<div class="content">
  <div class="user-module">
    <div class="auth-bg">
      <div class="auth-form">
        <div class="hdr">
          <span class="logo"></span>
        </div>
        <div class="fm-body">
          <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="doLogin()">
            <div class="form-row inline">
              <div class="form-item">
                <div class="form-label">Логин:</div>
                <div class="form-input"><input type="text" name="login" formControlName="login" placeholder="—"
                    autocomplete="off"></div>
              </div>
              <div class="form-item">
                <div class="form-label">Пароль:</div>
                <div class="form-input"><input type="password" name="password" formControlName="password"
                    placeholder="—" autocomplete="off"></div>
              </div>
            </div>
            <div class="form-row inline">
              <div class="form-item">
                <span class="forgot">
                  <span class="helper">i<span class="add">Test dsd sdsd</span> </span>
                  <span [routerLink]="['/remind']">Напомнить логин или пароль</span>
                </span>
              </div>
              <div class="form-item">
                <span class="btn" (click)="doLogin()">Войти в систему</span>
              </div>
            </div>
            <div class="form-hr"></div>
            <div class="form-row inline">
              <div class="form-item">
                <span class="desc">Если у вас еще нет доступа к системе,<br> пройдите быструю регистрацию:</span>
              </div>
              <div class="form-item">
                <span class="btn alt" [routerLink]="['/register']">Регистрация в системе</span>
              </div>
            </div>
            <div class="form-row" *ngIf="errorMessage">
              {{ errorMessage }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>