<div class="subheader">
  <div class="placer">
    <div class="title">Подрядчики</div>
    <a class="link add" [routerLink]="['./add']"><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M5 9H3V8H5V6H6V8H8V9H6V11H5V9ZM14 0V14H0V0H14ZM13 1H1V13H13V1Z" fill="#DB563B"></path>
      </svg><span>Новый подрядчик</span></a>
    <a class="link import"><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M13 8H14V14H0V0H6V1H1V13H13V8ZM13.2929 0L6 7.29291V4H5V8V9H6H10V8H6.70709L14 0.707092V0H13.2929Z"
          fill="#DB563B"></path>
      </svg><span>Импорт данных</span></a>
    <a class="link export"><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M13 10H14V14H0V0H4V1H1V13H13V10ZM13 0H9V1H12.2929L5 8.29291V9H5.70709L13 1.70709V5H14V1V0H13Z"
          fill="#DB563B"></path>
      </svg><span>Экспорт данных</span></a>
    <div class="div"></div>
    <div class="search-box">
      <span class="holder">Поиск подрядчика по названию...</span>
      <input type="text">
    </div>
  </div>
</div>
<app-contractor-filter (filterChange)="onFilterChange($event)"></app-contractor-filter>
<div class="table">
  <table>
    <tbody>
      <tr>
        <th>№</th>
        <th>Подрядчик</th>
        <th>Страна</th>
        <th class="l">Специализация</th>
        <th>Грузы</th>
        <th class="l">Рейтинг</th>
        <th>Результаты торгов</th>
        <th>Допуск</th>
        <th>Средняя скорость ответа</th>
        <th>ФОЗ</th>
        <th class="l">Контактные лица</th>
        <th>Связь</th>
      </tr>
      <tr *ngFor="let contractor of contractors; index as i; trackBy:trackById" [ngClass]="{'odd': i % 2 == 1}">
        <td>{{ start + i + 1 }}</td>
        <td><a class="link" [routerLink]="['./edit', contractor.id]">{{ contractor.name }}</a></td>
        <td>{{ contractor.country_name }} </td>
        <td class="l">
          <span class="type air"></span>
          <span class="type road"></span>
        </td>
        <td>FLC, LCL, REF</td>
        <td class="l">{{ contractor.rating_nps_text }}</td>
        <td>{{contractor.trade_count }}
          <span class="gray">
            (
            <span class="success">{{contractor.trade_success_count}}</span>
            /
            <span class="fail">{{contractor.trade_fail_count}}</span>
            )
          </span>
        </td>
        <td>
          <span *ngIf="!contractor.exclude_from_trade" class="success b">Есть</span>
          <span *ngIf="contractor.exclude_from_trade" class="fail b">Нет</span>
        </td>
        <td>{{ contractor.avg_answer_time | number}} мин.</td>
        <td></td>
        <td class="l">
          <ng-container *ngFor="let contact of contractor.contacts">
            {{ contact.name_f }} <span class="gray">({{contact.city_name}})</span>
          </ng-container>
        </td>
        <td class="gray">
          <ng-container *ngFor="let contact of contractor.contacts">
            Тел.: <span class="bk">{{contact.phone}}</span>, E-mail.: <span class="bk">{{contact.email}}</span>
          </ng-container>
        </td>
      </tr>
      <!--
      <tr class="odd">
        <td>2</td>
        <td>ООО Фирма 2</td>
        <td>Россия</td>
        <td class="l"><span class="type sea"></span></td>
        <td>LCL, REF</td>
        <td class="l">9/10 NPC</td>
        <td>56 <span class="gray">(<span class="success">5</span>/<span class="fail">4</span>)</span></td>
        <td><span class="fail b">Нет</span></td>
        <td>39 мин</td>
        <td></td>
        <td class="l">Егор <span class="gray">(Москва)</span></td>
        <td class="gray">E-mail.: <span class="bk">bbb@mail.ru</span></td>
      </tr>
    -->
    </tbody>
  </table>
</div>
<app-paginator [total]="total" [count]="count" [start]="start" [limits]="limits" (startChange)="onStartChange($event)"
  (countChange)="onCountChange($event)"></app-paginator>