<form class="filter extend" [formGroup]="filterForm">
  <div class="base">
    <div class="item">
      <div>
        <div class="title">Специализация:</div>
        <div class="data checkbox" formGroupName="specialization">
          <label>
            <input type="checkbox" formControlName="avia" value="avia"><span>Авиа</span>
          </label>
          <label>
            <input type="checkbox" formControlName="avto" value="avto"><span>Авто</span>
          </label>
          <label>
            <input type="checkbox" formControlName="sea" value="sea"><span>Море</span>
          </label>
          <label>
            <input type="checkbox" formControlName="rail" value="rail"><span>Ж/д</span>
          </label>
        </div>
      </div>
    </div>
    <div class="item">
      <div>
        <!-- <div class="title">Рейтинг:</div> -->
        <mat-form-field appearance="outline" class="ui-select form-item">
          <mat-label class="form-label">Рейтинг</mat-label>
          <mat-select formControlName="rating">
            <mat-option *ngFor="let val of ratings; index as i" [value]="i">{{i}}/10 NPS</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="item">
      <div>
        <!-- <div class="title">Доступ к торгам:</div> -->
        <mat-form-field appearance="outline" class="ui-select form-item">
          <mat-label class="form-label">Доступ к торгам</mat-label>
          <mat-select formControlName="allow_trade">
            <mat-option [value]="true">Да</mat-option>
            <mat-option [value]="false">Нет</mat-option>
            <mat-option [value]="">Не важно</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="item">
      <div>
        <!-- <div class="title">Направление откуда:</div> -->
        <mat-form-field appearance="outline" class="ui-select form-item">
          <mat-label class="form-label">Направление откуда</mat-label>
          <mat-select formControlName="country_departure">
            <mat-option [value]="">Все направления</mat-option>
            <mat-option *ngFor="let country of countries;" [value]="country.id">{{ country.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="item">
      <div>
        <!-- <div class="title">Направление куда:</div> -->
        <mat-form-field appearance="outline" class="ui-select form-item">
          <mat-label class="form-label">Направление куда</mat-label>
          <mat-select formControlName="country_arrival">
            <mat-option [value]="">Все направления</mat-option>
            <mat-option *ngFor="let country of countries;" [value]="country.id">{{ country.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="item func">
      <div>
        <span class="btn apply" (click)="apply()"><span>Применить</span></span>
        <span class="btn reset" (click)="reset()"><span></span></span>
      </div>
    </div>
  </div>
</form>
<!-- 
<pre>
  {{ filterForm.value | json }}
</pre> 
-->