<div class="form-block">
  <div class="form-item-layout">
    <div class="form-item">
      <div class="form-label">фамилия: <span class="req">•</span></div>
      <div class="form-data"><input type="text" name="user[1][f]" value="" placeholder="—"></div>
    </div>
    <div class="form-item">
      <div class="form-label">имя:</div>
      <div class="form-data"><input type="text" name="user[1][i]" value="" placeholder="—"></div>
    </div>
    <div class="form-item">
      <div class="form-label">отчество: <span class="req">•</span></div>
      <div class="form-data"><input type="text" name="user[1][o]" value="" placeholder="—"></div>
    </div>
    <div class="form-item">
      <div class="form-label">должность: <span class="req">•</span></div>
      <div class="form-data"><input type="text" name="user[1][position]" value="" placeholder="—"></div>
    </div>
  </div>
  <div class="form-item-layout">
    <div class="form-item">
      <div class="form-label">местонахождение офиса:</div>
      <div class="form-data"><input type="text" name="user[1][place]" value="" placeholder="—"></div>
    </div>
    <div class="form-item">
      <div class="form-label">офисный телефон: <span class="req">•</span></div>
      <div class="form-data"><input type="text" name="user[1][phone]" value="" placeholder="—"></div>
    </div>
    <div class="form-item">
      <div class="form-label">мобильный телефон:</div>
      <div class="form-data"><input type="text" name="user[1][mobile_phone]" value="" placeholder="—"></div>
    </div>
    <div class="form-item">
      <div class="form-label">e-mail: <span class="req">•</span></div>
      <div class="form-data"><input type="text" name="user[1][email]" value="" placeholder="—"></div>
    </div>
  </div>
  <div class="form-item-layout">
    <div class="form-item">
      <div class="form-label">skype:</div>
      <div class="form-data"><input type="text" name="user[1][social_skype]" value="" placeholder="—"></div>
    </div>
    <div class="form-item">
      <div class="form-label">telegram:</div>
      <div class="form-data"><input type="text" name="user[1][social_tg]" value="" placeholder="—"></div>
    </div>
    <div class="form-item">
      <div class="form-label">whatsapp:</div>
      <div class="form-data"><input type="text" name="user[1][social_wa]" value="" placeholder="—"></div>
    </div>
    <div class="form-item">
      <div class="form-label">WeChat:</div>
      <div class="form-data"><input type="text" name="user[1][social_wc]" value="" placeholder="—"></div>
    </div>
  </div>
  <div class="form-item-layout padd sep">
    Ответственный за направления: <span class="req">•</span>
    <label><input type="checkbox" class="check-all"><i></i><span>Все</span></label>
    <label><input type="checkbox" name="user[1][responsible][]" value="import"><i></i><span>Импорт</span></label>
    <label><input type="checkbox" name="user[1][responsible][]" value="export"><i></i><span>Экспорт</span></label>
    <label><input type="checkbox" name="user[1][responsible][]" value="local"><i></i><span>Внутрироссийские
        перевозки</span></label>
  </div>
  <div class="options">
    <div class="lnk">
      <div class="ttl">Зона ответственности</div>
      <div class="link show"><span>Показать</span></div>
    </div>
    <div class="lnk-data">



      <table class="t1">
        <tbody>
          <tr>
            <th class="name">
              <div>Отправление в Китай из 4 стран:</div>
              <input type="text" name="" value="" placeholder="Добавить страну или регион...">
            </th>
            <th class="all bg s e">
              <div class="l">Все виды</div>
              <label><input type="checkbox" class="show-all"><i></i></label>
            </th>
            <th class=" s">
              <div class="l"><span class="ico air"></span><span>LCL</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class=" e">
              <div class="l"><span class="ico air"></span><span>FCL</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class=" bg s">
              <div class="l"><span class="ico road"></span><span>LCL</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class=" bg">
              <div class="l"><span class="ico road"></span><span>FCL</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class=" bg">
              <div class="l"><span class="ico road"></span><span>ADR</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class=" bg e">
              <div class="l"><span class="ico road"></span><span>REF</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class=" s">
              <div class="l"><span class="ico sea"></span><span>TEUS</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class="">
              <div class="l"><span class="ico sea"></span><span>LCL</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class=" e">
              <div class="l"><span class="ico sea"></span><span>СП</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class=" bg s">
              <div class="l"><span class="ico rail"></span><span>TEUS</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class=" bg">
              <div class="l"><span class="ico rail"></span><span>LCL</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class=" bg e">
              <div class="l"><span class="ico rail"></span><span>СП</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
          </tr>

          <tr class="row">
            <td class="name">
              <div><span>Албания</span><span class="del"></span></div>
            </td>
            <td class="bg s e">
              <label><input type="checkbox" class="show-all-row"><i></i></label>
            </td>
            <td class=" s">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" e">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg s">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg e">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" s">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class="">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" e">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg s">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg e">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
          </tr>
          <tr class="row">
            <td class="name">
              <div><span>Россия</span><span class="del"></span></div>
            </td>
            <td class="bg s e">
              <label><input type="checkbox" class="show-all-row"><i></i></label>
            </td>
            <td class=" s">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" e">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg s">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg e">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" s">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class="">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" e">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg s">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg e">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
          </tr>
          <tr class="row">
            <td class="name">
              <div><span>Южные Сандвичевы Острова</span><span class="del"></span></div>
            </td>
            <td class="bg s e">
              <label><input type="checkbox" class="show-all-row"><i></i></label>
            </td>
            <td class=" s">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" e">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg s">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg e">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" s">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class="">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" e">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg s">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg e">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
          </tr>
          <tr class="row">
            <td class="name">
              <div><span>Япония</span><span class="del"></span></div>
            </td>
            <td class="bg s e">
              <label><input type="checkbox" class="show-all-row"><i></i></label>
            </td>
            <td class=" s">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" e">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg s">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg e">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" s">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class="">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" e">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg s">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
            <td class=" bg e">
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="t1">
        <tbody>
          <tr>
            <th class="name">
              <div>Внутрироссийские<br>
                перевозки:</div>
            </th>
            <th class="all bg s e">
              <div class="l">Все виды</div>
              <label><input type="checkbox" class="show-all"><i></i></label>
            </th>
            <th class=" s">
              <div class="l"><span class="ico air"></span><span>LCL</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class=" e">
              <div class="l"><span class="ico air"></span><span>FCL</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class=" bg s">
              <div class="l"><span class="ico road"></span><span>LCL</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class=" bg">
              <div class="l"><span class="ico road"></span><span>FCL</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class=" bg">
              <div class="l"><span class="ico road"></span><span>ADR</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class=" bg e">
              <div class="l"><span class="ico road"></span><span>REF</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class=" s">
              <div class="l"><span class="ico sea"></span><span>TEUS</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class="">
              <div class="l"><span class="ico sea"></span><span>LCL</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class=" e">
              <div class="l"><span class="ico sea"></span><span>СП</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class=" bg s">
              <div class="l"><span class="ico rail"></span><span>TEUS</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class=" bg">
              <div class="l"><span class="ico rail"></span><span>LCL</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
            <th class=" bg e">
              <div class="l"><span class="ico rail"></span><span>СП</span></div>
              <label><input type="checkbox" class="show-all-col"><i></i></label>
            </th>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>