<div class="subheader">
  <div class="placer">
    <div class="title">Подрядчики</div>
    <a class="link add" href="/erp/supplier/add"><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M5 9H3V8H5V6H6V8H8V9H6V11H5V9ZM14 0V14H0V0H14ZM13 1H1V13H13V1Z" fill="#DB563B"></path>
      </svg><span>Новый подрядчика</span></a>
    <a class="link import"><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M13 8H14V14H0V0H6V1H1V13H13V8ZM13.2929 0L6 7.29291V4H5V8V9H6H10V8H6.70709L14 0.707092V0H13.2929Z"
          fill="#DB563B"></path>
      </svg><span>Импорт даных</span></a>
    <a class="link export"><svg width="14" height="14" viewBox="0 0 14 14" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M13 10H14V14H0V0H4V1H1V13H13V10ZM13 0H9V1H12.2929L5 8.29291V9H5.70709L13 1.70709V5H14V1V0H13Z"
          fill="#DB563B"></path>
      </svg><span>Экспорт данных</span></a>
    <div class="div"></div>
    <div class="search-box">
      <span class="holder">Поиск подрядчика по названию...</span>
      <input type="text">
    </div>
  </div>
</div>